<launch>

<!-- Navigation Launch-->
 <arg name="custom_param_file" default="$(find find_my_mates)/param/dummy.yaml"/>
  <!-- Map server -->
  <arg name="map_file" default="$(find find_my_mates)/maps/GrannieAnnie.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>
  <include file="$(find find_my_mates)/launch/includes/amcl.launch.xml">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>

  <include file="$(find find_my_mates)/launch/includes/move_base.launch.xml">
    <arg name="custom_param_file" value="$(arg custom_param_file)"/>
  </include>

	<node pkg="find_my_mates" type="find_my_mates" name="find_my_mates" output="screen"/>
</launch>
